<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WorkspacePath</key>
	<string>/Volumes/Macintosh HD 2/iphone/实例demo/iTimeShow-ipad雪花效果demo/iTimeShow.xcodeproj</string>
</dict>
</plist>
